# FancyWorld Backend Environment Variables
PORT=5050
NODE_ENV=development

# MongoDB Atlas
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

# Payment Server Integration
PAYMENT_SERVER_URL=https://REPLACE-WITH-MY-PAYMENT-SERVER
APP_KEY=your_payment_server_secret_app_key
RETURN_URL_APP=fancyworld://payment-done
RETURN_URL_WEB=https://REPLACE-WITH-MY-SITE/payment-result

# Dynamic UPI QR & Merchant Provider
UPI_MERCHANT_ID=your_provider_merchant_id
UPI_SALT_KEY=your_provider_salt_key
UPI_SALT_INDEX=1
FRONTEND_URL=https://your-public-api-url.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Admin
ADMIN_EMAIL=admin@fancyworld.com
ADMIN_PASSWORD=your_admin_password
